@font-face {
    font-family: ArlyFont;
    src: url("ARLYFONT-REGULAR.TTF");
}

* {
    font-family: "ArlyFont";
    font-weight: initial; 
    margin: 0;
    padding: 0;
}

html {
    background-color: #d5ffc5;
}

h1 {
    font-size:100px;
    font-weight: bold;
}

h2 {
    font-size:50px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 30px;
}

a, a:visited {
    color: #a292ff;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTop {
    color: white;
    border-top: 4px solid #15008d;
    border-bottom: 4px solid #15008d;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #cfc7ff;
}

.headerTop > h1 {
    text-shadow: 5px 5px #15008d;
}

.menuBar {
    display: flex;
    height: 100px;
    width: 100%;
}

.menuBar > button {
    flex: 1;
    background-color: #fffd9d;
    color: #15008d;
    font-size: 50px;
    font-weight: bold; 
    border: 0px solid white;
    border-bottom: 4px solid #15008d;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.menuBar > button:hover:not(.currentTab) {
    flex: 1;
    background-color: #fffec0;
}

.menuBar > button:active, .menuBar > .currentTab {
    flex: 1;
    background-color: #fcf833;
}

.tabs {
    display: block;
}

.tabs > *:not(.currentTab) {
    display: none;
}

.aboutBox, .contactBox {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;

    background-color: white;
    color: #15008d;
    border-radius: 25px;
}